<!DOCTYPE html>
<html>
<head>
	<title>Instructions</title>
	<link rel="icon"  href="/images/logo.png">
	<style>
	body{
		background-color:lightcyan;
    font-family: 'Roboto';font-size: 20px;
	}
.center{
	widith: 60px;
	text-align: left;
}
input[type=submit]{
	background-color:pink;
	font-size: 30px;
}
</style>
</head>
     <body>
     	<div>
     	<h1 style="color:hotpink;">INSTRUCTIONS ABOUT CODEJAM</h1>
	<p>1.The <q>CODEJAM</q> event starts at 10:00AM and ends at 4:30PM.</p>
	<p>2.All the participants should carry their respective college ID's.</p>
	<p>3.Every participant should show their message to the event organizer before participating in the event .</p>
	<p>4.If the participant lost the message sent by the event organizer then they won't allow to participate.</p> 
	<p>5.The codejam event is of half an hour(30 MINUTES).</p>
	<p>6.The paricipants of this codejam event will get the participation certificate.</p>
	<p>7.The merit one will get the merit certificate.</p>
	<p>8.At end of the event you need to submit your code properly it's all your responsibility</p>
	<p>9.All the copy,paste of code will not be entertain they just picked out from the event.</p>
	<p>10.The code can be of any language.</p>
    	<div class="center"><p>
    	<a href="/register"><input type="submit" value="Register"></a></p></div>
</div>
</body>
</html>
