<!DOCTYPE html>
<html>
<head>
	<title>Event Registartion</title>
	<link rel="icon"  href="/images/logo.png">

	<script src="https://use.fontawesome.com/4cace8263e.js"></script>
	

	
	
</head>
<body>
	<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-1 text-right"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
			<div class="col-11 text-left"><h5>Aditya Engineering College</h5></div>

		</div>

		<div class="row">
			<div class="col-1 text-right"><i class="fa fa-mobile" aria-hidden="true"></i></div>
			<div class="col-11 text-left"><h5>9125533522</h5></div>

		</div>	
	
		<div class="row">
			<div class="col-1 text-right text-left"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
			<div class="col-11"><h5>8978757564</h5></div>

		</div>	

		<div class="row">
			<div class="col-1 text-right text-left"><i class="fa fa-envelope" aria-hidden="true"></i></div>
			<div class="col-11"><h5>veda2k21@gmail.com</h5></div>

		</div>	

	</div>
	</div>
	
	
		


</body>
</html>


<!--css

.fa
{
	color: white;
}

.contact h5
{
	color: white;
}
-->