<!DOCTYPE html>
<html>
<head>
	<title>Instructions</title>
	<link rel="icon"  href="/images/logo.png">
	<style>
	body{
		background-color:lightcyan;
    font-family: 'Roboto';font-size: 20px;
	}
.center{
	widith: 60px;
	text-align: left;
}
input[type=submit]{
	background-color:pink;
	font-size: 30px;
}
</style>
</head>
		<body>
			<div>
				<h1 style="color:hotpink;">INSTRUCTIONS ABOUT DEBATE</h1>
	<p>1.The <q>DEBATE</q> event starts at 10:00AM and ends at 4:30PM.</p>
	<p>2.All the participants should carry their respective college ID's.</p>
	<p>3.Every participant should show their message to the event organizer before participating in the event .</p>
	<p>4.If the participant lost the message sent by the event organizer then they won't allow to participate.</p> 
	<p>5.The participant should be in time, In morning session by 9:55AM and in afternoon session by 1:55PM.</p>
	<p>6.There are two teams, each consisting of two or three speakers.</p>
	<p>7.Each team has two or three constructive speeches, and two to three rebuttal speeches. The affirmative gives 
		the first constructive speech, and the rebuttals alternate: negative, affirmative, negative, affirmative. 
	The affirmative has both the first and last speeches of the debate.</p>
	<p>8. Each speaker is questioned as soon as he concludes his constructive speech. The witness must answer 
	the questions without consulting his colleagues.</p>
	<p>9.The judge must base his decision entirely on the material presented, without regard for other material which he may happen to possess.</p>
	<p>10. Any gains made outside of the established procedure are disallowed.</p>
	<div class="center"><p>
    	<a href="/register"><input type="submit" value="Register"></a></p></div>
    </div>>
</body>
</html>