<!Doctype html>
<html>
<head>
	<title>Instructions</title>
	<link rel="icon"  href="/images/logo.png">
	<style>
	body{
		background-color:lightcyan;
    font-family: 'Roboto';font-size: 20px;
	}
.center{
	widith: 60px;
	text-align: left;
}
input[type=submit]{
	background-color:pink;
	font-size: 30px;
}
</style>
</head>
     <body>
     	<div>
     	<h1 style="color:hotpink;">INSTRUCTIONS ABOUT IDEAEXPO</h1>
	<p>1.The <q>IDEAEXPO</q> event starts at 10:00AM and ends at 4:30PM.</p>
	<p>2.All the participants should carry their respective college ID's.</p>
	<p>3.Every participant should show their message to the event organizer before participating in the event .</p>
	<p>4.If the participant lost the message sent by the event organizer then they won't allow to participate.</p> 
	<p>5.The participant should be in time, In morning session by 9:55AM and in afternoon session by 1:55PM</p>
	<p>5.The team should contain two members</p>
	<p>6.The idea presentation should be clear and neat.</p>
	<p>7.If the idea is good then that idea is implemented</p>
	<p>8.Every participant will get a participation certificate</p>
	<p>9.The merit one will get a merit certificate.</p>
	<p>10.The presenting idea should be your own.</p>
<div class="center"><p>
    	<a href="/register"><input type="submit" value="Register"></a></p></div>
</div>
</body>
	</html>

